@import "includes/colors";
@import "includes/space";
@import "includes/sprites";
@import "includes/media-query";

/******************HEADER******************/
body {
  padding: 0;
  padding-top: $nav-menu-height;
  width: 100%;
  min-width: $min-width;
  background-color: $light-color;
  color: $bar-color;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  @include small-device {
    font-size: 18px;
  }
}
header {
  position: relative;
  color: $light-color;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $nav-menu-height;
  z-index: 10;
}
.title-page {
  display: none;
  position: absolute;
  left: 15px;
  height: $nav-menu-height;
  width: auto;
  line-height: $nav-menu-height;
  text-align: center;
  @include mid-device {
    display: block;
  }
}
nav {
  line-height: $nav-menu-height;
  a,
  a:visited {
    color: $light-color;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 2px solid $light-color;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    padding: 0 10px;
    text-align: center;
    color: $light-color;
    display: inline;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

/*******************************************/
/***********************GENERAL*************/
.bar {
  background-color: $bar-color;
}
h1 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}
section {
  width: 100%;
  text-align: center;
}
span {
  white-space: nowrap;
  font-weight: bold;
}
.centered {
  margin: 0 auto;
  width: 95%;
  max-width: $max-width;
}
.section-container {
  padding-top: 70px;
  padding-bottom: 10px;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  @include small-device {
    padding-bottom: 70px;
  }
}
.separator {
  height: 1px;
  width: 95%;
  max-width: $max-width;
  margin: 10px auto;
  background-color: $bar-color;
  opacity: .3;
  box-shadow: 0 0 5px #000;
}
.sky-separator,
.sea-separator {
  width: 100%;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.sky-separator {
  height: 200px;
  background-image: url('../img/sky-bk.png');

  @include small-device {
    height: 300px;
  }
}
.sea-separator {
  height: 100px;
  background-image: url('../img/sea-bk.png');
  @include small-device {
    height: 300px;
  }
}
.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  @include small-device {
    margin-bottom: 50px;
    font-size: 50px;
  }
}
/*******************************************/
/***********************ABOUT***************/
.slogan {
  font-size: 19px;
  @include small-device {
    font-size: 21px;
  }
}
#about {
  position: relative;
  background-color: $about-color;
  color: white;
  p {
    margin: 0;
    margin-bottom: 10px;
  }
}
.me-img {
  @include sprite($me);
  margin: -210px auto 30px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 5px solid $about-color;
}
.interest-cloud {
  display: none;
  float: left;
  width: 30%;
  max-width: 200px;
  margin-right: 5%;
  @include small-device {
    display: block;
  }
}
.me {
  float: none;
  margin: 0 auto;
  width: 95%;
  text-align: center;
  @include small-device {
    float: left;
    width: 65%;
    text-align: left;
  }
}

/***********************EXPERIENCE**********/
.experience {
  float: left;
  padding: 0 1%;
  width: 98%;
  margin-top: 30px;
  &:nth-of-type(1) {
    margin-top: 0;
  }
  &:nth-of-type(odd) {
    clear: left;
  }
  @include small-device {
    width: 48%;
    &:nth-of-type(2) {
      margin-top: 0;
    }
  }
  @include big-device {
    width: 23%;
    margin-top: 0;
    &:nth-of-type(n) {
      clear: none;
    }
  }
}
.logo-img {
  margin: 0 auto;
  max-height: 100px;
  max-width: 100px;
  border-radius: 53px;
  border: 3px solid $about-color;
  text-align: center;
  line-height: 100px;
  font-size: 80px;
  &.sweetspot {
    @include sprite($sweetspot);
  }
  &.meetpays {
    @include sprite($meetpays);
  }
  &.medianet {
    @include sprite($medianet);
  }
  &.more {
    background: white;
  }
  &:hover {
    opacity: 0.4;
  }
  .exp-link {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: block;
  }
}
/**********************************************/
/***********************projects***************/
.projects {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  img {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    height: auto;
    border: 3px solid $about-color;
  }
  h2 {
    display: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.more h2 {
    display: block;
  }
}
/*******************************************/
/*****************FOOTER********************/
footer {
  width: 100%;
}
.net-spots-wrapper {
  height: 40px;
  width: 140px;
  margin: 0 auto;
  padding: 10px 0;
}
.net-spot {
  outline: none;
  float: left;
  display: block;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin-right: 10px;
  &:hover {
    opacity: 1;
  }
}
.tw {
  @include sprite($twitter);
}
.instg {
  @include sprite($instagram);
  margin-right: 0;
}
.github {
  @include sprite($github);
}
.copyright {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: $light-color;
  a {
    white-space: nowrap;
    color: $light-color;
  }
}
