/***********************EXPERIENCE**********/
.experience .section-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.experience__item {
  width: 98%;
  margin-top: 30px;

  &:nth-child(1) {
    margin-top: 0;
  }
  @include small-device {
    width: 47%;

    &:nth-child(2) {
      margin-top: 0;
    }
  }
  @include big-device {
    width: 31%;

    &:nth-child(2) {
      margin-top: 30px;
    }

    &.marsbased {
      width: 98%;
      margin-top: 0;
    }
  }
}

.logo-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 80px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;

  &.more {
    color: $about-color;
    cursor: default;
    background: #fff;
    border: 3px solid $about-color;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    opacity: .4;
  }

  .exp-link {
    display: block;
    font-size: 0;
  }
}

/**********************************************/
