/*****************FOOTER********************/
footer {
  width: 100%;
}
.net-spots-wrapper {
  height: 40px;
  width: 140px;
  margin: 0 auto;
  padding: 10px 0;
}
.net-spot {
  outline: none;
  float: left;
  display: block;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin-right: 10px;
  &:hover {
    opacity: 1;
  }
}
.tw {
  background-image: url(./../images/twitter.png);
}
.instg {
  background-image: url(./../images/instagram.png);
  margin-right: 0;
}
.github {
  background-image: url(./../images/github.png);
}
.copyright {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: $light-color;
  a {
    white-space: nowrap;
    color: $light-color;
  }
}
