/******************HEADER******************/
body {
  padding: 0;
  padding-top: $nav-menu-height;
  width: 100%;
  min-width: $min-width;
  background-color: $light-color;
  color: $bar-color;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  @include small-device {
    font-size: 18px;
  }
}
header {
  position: relative;
  color: $light-color;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: $nav-menu-height;
  z-index: 10;
}
.title-page {
  display: none;
  position: absolute;
  left: 15px;
  height: $nav-menu-height;
  width: auto;
  line-height: $nav-menu-height;
  text-align: center;
  @include mid-device {
    display: block;
  }
}
nav {
  line-height: $nav-menu-height;
  a,
  a:visited {
    color: $light-color;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 2px solid $light-color;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    padding: 0 10px;
    text-align: center;
    color: $light-color;
    display: inline;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

/*******************************************/
