/***********************PROJECTS***************/
.projects {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  &__image-container {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
  }

  .work-contact {
    width: 150px;
    height: auto;
    margin: 0;
    border: none;
  }

  .work-explanation {
    max-width: 800px;
    margin: 0 auto;
  }

  h2 {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.more h2 {
    display: block;
  }
}

/*******************************************/
